.DS_store
nbproject/
node_modules/
npm-debug.log
.idea/
npm-debug.log
inav-configurator.iml
/out
.eslintrc.json
/.project
/cache/
/dist/
/apps/
/build/
*~
*.swp
*.bak
eeprom.bin
yarn.lock
/.vs/MIGRATED_PROJECT/FileContentIndex/4516c831-32af-46bc-b0cb-78a57094a845.vsidx
/.vs/MIGRATED_PROJECT/FileContentIndex/8275fba8-5859-414e-8584-9c842ef1d8ef.vsidx
